.section1 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: black;
  height: 7px;
  width: 101.5%;
  padding-bottom: 10%;
}

.logoImage {
  float: left;
  padding-top: 7px;
  padding-left: 30px;
  height: 120px;
  width: 240px;
}

.discountImg {
  padding-top: 10px;
  margin-top: 100px;
  padding-left: 380px;
  height: 280px;
  width: 540px;
}

h1 {
  color: white;
  padding-left: 70px;
  padding-top: 1px;
}

.title {
  padding-top: 25px;
  padding-left: 1000px;
  font-family: cursive;
}

h2 {
  position: absolute;
  top: 355px;
  left: 565px;
  color: black;
}

a {
  position: absolute;
  top: 410px;
  left: 605px;
  color: black;
}

.caption1 {
  position: absolute;
  top: 590px;
  left: 410px;
  font-size: 12px;
  color: black;
}

.caption2 {
  position: absolute;
  top: 590px;
  left: 550px;
  font-size: 12px;
  color: black;
}

.caption3 {
  position: absolute;
  top: 590px;
  left: 680px;
  font-size: 12px;
  color: black;
}

.caption4 {
  position: absolute;
  top: 590px;
  left: 810px;
  font-size: 12px;
  color: black;
}

.caption5 {
  position: absolute;
  top: 765px;
  left: 420px;
  font-size: 12px;
}

.caption6 {
  position: absolute;
  top: 765px;
  left: 550px;
  font-size: 12px;
}

.caption7 {
  position: absolute;
  top: 765px;
  left: 680px;
  font-size: 12px;
}

.caption8 {
  position: absolute;
  top: 765px;
  left: 820px;
  font-size: 12px;
}

.car1 {
  position: absolute;
  padding-top: 50px;
  padding-left: 390px;
  height: 100px;
  width: 130px;
}

.car2 {
  position: absolute;

  padding-top: 55px;
  padding-left: 520px;
  height: 80px;
  width: 130px;
}

.car3 {
  position: absolute;
  padding-top: 49px;
  padding-left: 655px;
  height: 80px;
  width: 130px;
}

.car4 {
  position: absolute;
  padding-top: 43px;
  padding-left: 790px;
  height: 80px;
  width: 130px;
}

.car5 {
  position: absolute;
  padding-top: 215px;
  padding-left: 390px;
  height: 80px;
  width: 130px;
}

.car6 {
  position: absolute;
  padding-top: 210px;
  padding-left: 530px;
  height: 80px;
  width: 130px;
}

.car7 {
  position: absolute;
  padding-top: 205px;
  padding-left: 655px;
  height: 80px;
  width: 130px;
}

.car8 {
  position: absolute;
  padding-top: 200px;
  padding-left: 790px;
  height: 80px;
  width: 130px;
}

h3 {
  position: absolute;
  top: 435px;
  left: 410px;
}

h5 {
  font-size: 18px;
  padding-top: 25px;
}

.recentlyAdd {
  position: absolute;
  top: 635px;
  left: 410px;
}

aside {
  position: absolute;
  background-color: tan;
  margin-top: 80px;
  padding-left: 50px;
  border-radius: 30px;
  height: 440px;
  width: 170px;
  top: 130px;
  left: 90px;
}

label {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
}

button {
  color: green;
  border-radius: 30px;
  border-color: black;
}

select {
  font-weight: bolder;
  font-family: cursive;
}

.blog {
  position: absolute;
  top: 835px;
  left: 410px;
}

.blogSection {
  position: absolute;

  padding-left: 10px;
  padding-top: 30px;
  margin-top: 350px;
  margin-left: 390px;
  height: 50px;
  width: 550px;
  padding-bottom: 10%;
}

.content {
  padding-top: 45px;
  padding-left: 270px;
  font-size: 12px;
}

.blogImage {
  float: left;
  padding-top: 45px;
  padding-left: 1px;
  padding-right: 50px;
  height: 170px;
  width: 220px;
}

header {
  font-size: 14px;
}

.footerSection {
  position: absolute;
  right: 0;
  left: 0;
  margin-top: 760px;
  background-color: steelblue;
  height: 60px;
  width: 101.5%;
  padding-top: 100px;
  padding-left: 10px;
  padding-bottom: 25px;
}

footer {
  position: absolute;
  padding-top: 50px;
  padding-left: 475px;
}

.socialIcons {
  position: absolute;
  padding-left: 570px;
  padding-top: 10px;
}

h4 {
  position: absolute;
  padding-top: 10px;
  margin-top: 1px;
  margin-left: 350px;
}

.fb {
  position: absolute;
  height: 20px;
  width: 20px;
  padding-top: 25px;
  padding-left: 500px;
}

.insta {
  position: absolute;
  height: 20px;
  width: 20px;
  padding-top: 25px;
  padding-left: 550px;
}

.twitter {
  height: 20px;
  width: 20px;
  padding-top: 25px;
  padding-left: 600px;
}
